@mixin social ($fontsize) {
    
    font-size: $fontsize;
    padding: $fontsize/5;
    color: $lightblue;
    background-color: white;
    border-radius: 25%;
    border: 1px solid $primary;
    cursor: pointer;

    // #social-1
    // {
    //     font-size: $fontsize;
    //     padding: 15px;
    //     color: $lightblue;
    //     background-color: white;
    //     border-radius: 25%;
    //     border: 1px solid $primary;
    //     cursor: pointer;
    // }
}
@mixin text ($textfont, $textbtn: $sand) {
    font-size: $textfont;
    color: $textbtn;
    
}

@mixin bg {
    background-image: url(/SassOpgaver/grenaa_strand/assets/images/hav_grenaa.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}